
/* =Misc
-----------------------------------------------------------------------------*/

#contentpost {
        width: 80%;
        min-height: 100%;
        padding-top:70px;
        size: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin-top: 37px;
        margin-left: auto;
        margin-right: auto;
}

.labes {
    color: #fff;
}
.txtstyle textarea{
    background: rgba(255,255,255, .05)
}
radio {
    display: inline;
    color: #fff;
}

.reply textarea{
        display: block;
        width: 100%;
        height: 120px;
        margin-left: auto;
        margin-right: 0;
d        margin-top: 0px;
        color: #FFF;
        border-style: none;
        border-color: Transparent;
        overflow: auto;
        resize: none;
        background:rgba(255,255,255,.05)
}



#postresult {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 50%;
    color: #fff;
    margin-left: 30px;
    margin-top: 125px;
}
#contentreply {
        width: 30%;
        size: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin-top: -600px;
        margin-left: auto;
        margin-right: 80px;
}

#contentterms {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 30%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
}
#contentsignup {
        width: 30%;
        padding-top:80px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin-top: -392px;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        size: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        padding-left: 100px;
}
#signin {
        width: 30%;
        padding-top:80px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin-top: 0px;
        margin-left:30px;
        margin-right: 20px;
        color: #fff;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}
#termsandconditions {
        color:#fff;
        margin-top:150px;
        width:80%;
        margin-left:auto;
        margin-right:auto;
