/* =Typography
-----------------------------------------------------------------------------*/
html { height: auto; }
body {
	height: auto; width: auto; margin: auto;
	background: #000 url(/Style/images/darkbackground.png);
        background-attachment: fixed;
        background-size: cover;
}
#wrapper {
        width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
        margin-bottom: auto;
        min-height: 100%;
	overflow: auto;
}       background: -moz-linear-gradient(top, #000 0%, #fff 100%);


/* =Header
-----------------------------------------------------------------------------*/

#header {
        position: fixed;
	margin-top: 0px;
        background: #fff;
        height: 80px;
        height: 300px;
        width: 100%;
}
#logo {
        width: 20%;
        margin-left: 0px;
        margin-right: auto;
        position: fixed;
        padding-top: 0;
}
.signin {
        position: fixed;
	margin-top: 0px;
        margin-left: auto;
        margin-right: 20px;
        width: 100%;
        height: 80px;
        text-align: right;
        background: #fff;
}

@media only screen and (min-width: 640px) {
#search input[type="text"] {
    background: #fff;
    position: fixed;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #000;
    width: 20%;
    height: 30px;
    text-align: left;
    margin-bottom:-60px;
    margin-top: -37px;
    margin-left: 310px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9), 0 1px 3px rgba(0, 0, 0, 0.9) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
      }
}
.register:link {
    text-decoration: none;
}

.register:hover {
    color: #000;
    text-decoration: underline;
}

/* =Menu
-----------------------------------------------------------------------------*/

#menu {
        width: 100%;
        margin-left: 0px;
        margin-right: auto;
        position: fixed;
        display: inline-block;
        background: rgba(0,0,0,1);
        height: 42px;
        margin-top: 50px;
        white-space: nowrap;
}
#menu ul {
	margin: 0;
	padding: 0;
	float: left;
}
#menu ul li {
	display: inline;
}
#menu ul li a {
	float: left;
	text-decoration: none;
	color: #fff;
	padding: 10.5px 11px;
	background-color: #000;
}
#menu ul li a:visited {
	color: #fff;
	text-decoration: none;
}
#menu ul li a:hover, .menu ul li .current{
	color: #000;
	background-color:rgba(255,255,255,1);
}

/* =Index
-----------------------------------------------------------------------------*/

#content {
        width: 100%;
        min-height: 100%;
        padding-top:55px;
        padding-bottom:140px;
        size: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin-top: 37px;
        margin-left: auto;
        margin-right: auto;
}
tr.breakloop {
	border: 2px solid #000;
        text-align: center;
}
tr.breakloop th.text-centered {
    text-align: center;
}
tbody.breakloop td {
	color: #ffffff;
        text-shadow: 0 1px 1px #111;
	font: 14px Verdana, Helvetica, Arial, Sans-Serif;
        border-color: #000;
	background-color: rgba(0,0,0,.3);
}
tbody.breakloop td.centered {
	text-align: center;
}
tbody.breakloop td.right {
	text-align: right;

}
.tablelink:link {
        text-decoration: none;
        font-size: 1.5em;
        color: #fff;
}
.tablelink:hover {
        text-decoration: underline;
}
tbody.breakloop tr:hover td {
	background: rgba(255,255,255,.0);
        color: #fff;
}
tbody.breakloop tr:hover td a {
        color: #FFAF69;
}
.width-100 {
    -webkit-box-shadow: 0 8px 6px -6px #151515;
    -moz-box-shadow: 0 8px 6px -6px #151515;
    box-shadow: 0 8px 6px -6px #151515;
    margin: auto;
    width: 100%;
}
div.title {
	font: 18px Verdana, Helvetica, Arial, Sans-Serif;
	text-align: center;
	padding: 4px;
	color: #000;
	background-color:rgba(17,17,17,0.9);
	-moz-border-radius: 8px;
       -webkit-border-radius: 8px;
        line-height:30px
}
input:focus, textarea:focus {
    border-radius: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8) inset;
}
input {
    display: block;
    color: #fff;
    background: rgba(255,255,255,.05);
    border: none;
    text-align: center;
}




/*---Profile---*/
@media only screen and (min-width: 600px) {
#profilestats{
        width: 200px;
        margin-top: -225px;
        margin-left: auto;
        margin-right: 50px;
        border: 2px solid;
        border-color: #fff;
        border-radius: 17px;
        padding-left: 3px;
        }
}
@media only screen and (max-width: 600px) {
#profilestats{
        width: 200px;
        margin-top: px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid;
        border-color: #fff;
        border-radius: 17px;
        padding-left: 3px;
        }
}
#profileheader {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 40%;
    color: #fff;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 100px;

}
@media only screen and (min-width: 600px) {
#profileactivity {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 50%;
    color: #fff;
    margin-left: 30px;
    margin-top: 20px;
  }
}

/*---Post---*/

#contentpost {
        width: 80%;
        min-height: 100%;
        padding-top:70px;
        padding-bottom:140px;
        size: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin-top: 37px;
        margin-left: auto;
        margin-right: auto;
}
.postarea {
        margin-top: 30px;
}

.postarea textarea{
        display: block;
        width: 100%;
        height: 400px;
        margin-left: auto;
        margin-right: 0;
        margin-top: 0px;
        color: #FFF;
        border-style: none;
        border-color: Transparent;
        overflow: auto;
        resize: none;
        background:rgba(255,255,255,.05)
}
.headerarea textarea{
        display: block;
        width: 100%;
        height: 40px;
        margin-left: auto;
        margin-right: 0;
        margin-top: 0px;
        color: #FFF;
        border-style: none;
        border-color: Transparent;
        overflow: auto;
        resize: none;
        background:rgba(255,255,255,.05)
}

#termsandconditions {
        color:#fff;
        margin-top:150px;
        width:80%;
        margin-left:auto;
        margin-right:auto;
}

/*---Sign-In / Register---*/
#contentsignup {
        width: 500px;
        padding-top:80px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin-top: 25px;
        margin-left: 0px;
        margin-right: auto;
        color: #fff;
        size: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        padding-left: 100px;
}
#signin {
        width: 500px;
        padding-top:0px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin-top: 0px;
        margin-left:90px;
        margin-right: auto;
        color: #fff;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}
/*---Content---*/
#posthead {
    margin-top:100px;
    color: #fff;
    font-size: 2.8em;
    display:block;
}

@media only screen and (max-width: 1400px) {
#posthead {
    margin-top:100px;
    color: #fff;
    font-size: 1.8em;
    display:block
    }
}
#postauth {
    margin-top: -85px;
    color: #fff;
    font-size: 2.5em;
    display:block
}
@media only screen and (max-width: 800px) {
#postauth {
    margin-top: -45px;
    color: #fff;
    font-size: 1.5em;
    display:block
    }
}
#postdate {
    margin-top: -55px;
    color: #fff;
    font-size: 1.5em;
    display:block
}
#postresult {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width:75%;
    color: #fff;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    size: relative;
}
.reply textarea{
        display: block;
        width: 100%;
        height: 120px;
        margin-left: auto;
        margin-right: 0;
        margin-top: 0px;
        color: #FFF;
        border-style: none;
        border-color: Transparent;
        overflow: auto;
        resize: none;
        background:rgba(255,255,255,.05)
}
#contentreply {
        width: 70%;
        size: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        max-width:800px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
}

/*---FOOTER---*/

#footer_1 {
	background: rgba(255,255,255,.0);
	display: block;
        text-decoration: none;
	font: 14px Helvetica, Arial, Sans-Serif;
	text-align: center;
	color: #fff;
        box-shadow: inset 0px 3px 5px #fff;
        margin-top: 100px;
        height: 40px;
}
div.ftext {
       text-align: center;
       padding-top: 12px;
}
.footer, .push {
        padding-bottom: 500px;
}