/* =Typography
-----------------------------------------------------------------------------*/
html {
        height: auto;
}
body {
	height: auto; width: auto; margin: auto;
	background: #000 url(/Style/images/darkbackground.png);
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        min-width: 1000px;
    font-family: 'Josefin Sans', sans-serif;

}
#wrapper {
        width: 100%;
	margin-right: auto;
	margin-left: auto;
        argin-top: auto;
        margin-bottom: auto;
        min-height: 100%;
	overflow: auto;
        background: -moz-linear-gradient(top, #000 0%, #fff 100%);
}
/* =Header
-----------------------------------------------------------------------------*/

#fixedhead2 {
        width: 100%;
        height: 35px;
}
.register {
        text-decoration: none;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
}
.register:hover {
        opacity: 0.2;
}
#logo2 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -30px;
        margin-bottom: 20px;
        float: right;
}
#tinymenu {
        padding-top: 8px;
        width: 50%;
        margin-bottom: -5px;
        margin-left: -60px;
        margin-right: auto;
        background: rgba(0,0,0,0);
        font-size: 1em;
        white-space: nowrap;
}

/* =Index
-----------------------------------------------------------------------------*/

.index {
        width: auto;
        margin-left: 350px;
        margin-right: 50px;
        font-size: .8em;
        font-family: 'Josefin Sans', sans-serif;

}
.preview {
        color: #fff;

}
.prevContent {
        color: #fff;
        width: 100%;
        height: 0;
        overflow:hidden;
        left: 0;
        font-size: .8em;
        -webkit-transition: all .8s ease;
        -moz-transition: all .8s ease;
        -ms-transition: all .8s ease;
        -o-transition: all .8s ease;
        transition: all .8s ease;
        transition-delay: .25s;
        -webkit-transition-delay: .25s; /* Safari */
}
.preview:hover > .prevContent {
        display:block;
        left:0px;
        height:150px;
}
.toc {
        width: 90%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        font-size: .8em;
}

#sidebar {
	color: #fff;
        font-size: 1em;
        font-family: 'Josefin Sans', sans-serif;

	border-right: 1px solid;
        border-color: rgba(255,255,255,.1);
	width: 300px;
	float: left;
	margin-left: 5px;
        margin-top: -20px;
        padding-right: 10px;
        padding-left: 10px;
        }

/*---Buttons---*/
#submit {
        margin-right: auto;
        margig-left: auto;
        width: 200px;
        background: rgba(0,0,0,0);
        margin-top: 30px;
        border: 1px #fff solid;
        border-radius: 20px;
        color: #fff;
        font: 100% Century Gothic;
        font-size: 1.5em;
        transition: background .35s ease-in-out;
        -moz-transition: background .35s ease-in-out;
        -webkit-transition: background .35s ease-in-out;
        font-family: 'Josefin Sans', sans-serif;
}
#submit:hover {
        background: rgba(255,255,255,.1);
        border: 1px #12495d solid;
        color: #fff;
        cursor: pointer;
        font-size: 1.5em;
}
#submit:active {
        background: rgba(255,255,255,.1);
        border: 1px #12495d solid;
        color: #000;
        font: 100% Century Gothic;
        font-size: 2em;
}
#loadmore {
        margin-right: auto;
        margin-left: auto;
        width: 200px;
        background: rgba(0,0,0,0);
        margin-top: 30px;
        border: 1px #fff solid;
        border-radius: 20px;
        color: #fff;
        font: 100% Century Gothic;
        font-size: 2em;
        transition: background .35s ease-in-out;
        -moz-transition: background .35s ease-in-out;
        -webkit-transition: background .35s ease-in-out;


}
#loadmore:hover {
        background: rgba(255,255,255,.1);
        border: 1px #12495d solid;
        color: #fff;
        cursor: pointer;
        font: 100% Century Gothic;
        font-size: 2em;
}
#loadmore:active {
        background: rgba(255,255,255,.1);
        border: 1px #12495d solid;
        color: #000;
        font: 100% Century Gothic;
        font-size: 2em;
}
#communitybutton {
        float: left;
        display: inline;
        width: 30px;
        background: rgba(0,0,0,0);
        margin-top: 30px;
        border:none;
        border-radius: 20px;
        color: #fff;
        font: 100% Century Gothic;
        font-size: 1em;
        display: block;
        transition: background .35s ease-in-out;
        -moz-transition: background .35s ease-in-out;
        -webkit-transition: background .35s ease-in-out;
        outline: none;
}
#communitybutton:hover {
        border-radius: 7px;
        background: rgba(255,255,255,.4);
        border: none;
        color: #fff;
        cursor: pointer;
        outline: none;
}
#communitybutton:active {
        background: rgba(255,255,255,.9);
        color: #000;
        outline: none;
}

.button {
        display: block;
        margin-left: 0px;
        width: 120px;
        height: 30px;
        background: rgba(0,0,0,0);
        margin-top: 30px;
        border: 1px #fff solid;
        border-radius: 20px;
        color: #fff;
        font: 100% Century Gothic;
        font-size: 1.3em;
        transition: background .35s ease-in-out;
        -moz-transition: background .35s ease-in-out;
        -webkit-transition: background .35s ease-in-out;
}
.button:hover {
        background: rgba(255,255,255,.1);
        border: 1px #12495d solid;
        color: #fff;
        cursor: pointer;
        font: 100% Century Gothic;
        font-size: 1.3em;
}
.button:active {
        background: rgba(255,255,255,.1);
        border: 1px #12495d solid;
        color: #000;
        font: 100% Century Gothic;
        font-size: 1.3em;
}
/*---Profile---*/

#profbutton {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
}
@media only screen and (min-width: 600px) {
#profilestats{
        display: block;
        width: 200px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: 50px;
        border: 2px solid;
        border-color: #fff;
        border-radius: 17px;
        padding-left: 3px;
        font-family: 'Josefin Sans', sans-serif;
        }
}
@media only screen and (max-width: 600px) {
#profilestats{
        display: none;
        }
}
#authorname {
    font-size: 7em;
    margin-bottom: 18px;
}
#profileheader {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    margin-top: -50px;
        font-family: 'Josefin Sans', sans-serif;

}
@media only screen and (max-width: 600px) {
#authorname {
    font-size: 4em;
    margin-bottom: 1
  }
}
@media only screen and (min-width: 600px) {
#profileactivity {
    background: rgba(255,255,255,.00);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 90%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
        font-family: 'Josefin Sans', sans-serif;
  }
}
@media only screen and (max-width: 600px) {
#profileactivity {
    background: rgba(255,255,255,.00);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 90%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 600px) {
#profileactivity2 {
    background: rgba(255,255,255,.00);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 90%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 600px) {
#profileactivity2 {
    background: rgba(255,255,255,.00);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 90%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 600px) {
#profileactivity3 {
    background: rgba(255,255,255,.00);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 90%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 600px) {
#profileactivity3 {
    background: rgba(255,255,255,.00);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 90%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 600px) {
#profileactivity4 {
    background: rgba(255,255,255,.00);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 90%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 600px) {
#profileactivity4 {
    background: rgba(255,255,255,.00);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 90%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }
}
#authored {
    margin-right: auto;
    margin-left: 0px;
    width: 180px;
    background: rgba(0,0,0,0);
    margin-top: 30px;
    border: 1px #fff solid;
    border-radius: 20px;
    color: #fff;
    font: 100% Century Gothic;
    font-size: 1.2em;
    transition: background .35s ease-in-out;
    -moz-transition: background .35s ease-in-out;
    -webkit-transition: background .35s ease-in-out;
        font-family: 'Josefin Sans', sans-serif;
}
#authored:hover {
    background: rgba(255,255,255,.1);
    border: 1px #12495d solid;
    color: #fff;
    cursor: pointer;

    font-size: 1.2em;
}
#authored:active {
    background: rgba(255,255,255,.1);
    border: 1px #12495d solid;
    color: #000;

    font-size: 1.2em;
}

/*---Post---*/

#contentpost {
        width: 80%;
        min-height: 100%;
        padding-bottom:140px;
        size: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin-top: 37px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Josefin Sans', sans-serif;
}
.postarea {
        margin-top: 30px;
}

.postarea textarea{
        font-size: 1.7em;
        display: block;
        width: 100%;
        height: 400px;
        margin-left: auto;
        margin-right: 0;
        margin-top: 0px;
        color: #FFF;
        border-style: none;
        border-color: Transparent;
        overflow: auto;
        resize: none;
        background:rgba(255,255,255,.05);
        outline: none;
        font-family: 'Josefin Sans', sans-serif;
}
.headerarea textarea{
        font-size: 1.7em;
        display: block;
        width: 100%;
        height: 40px;
        margin-left: auto;
        margin-right: 0;
        margin-top: 0px;
        color: #FFF;
        border-style: none;
        border-color: Transparent;
        overflow: auto;
        resize: none;
        background:rgba(255,255,255,.05);
        outline: none;
        font-family: 'Josefin Sans', sans-serif;
}
#termsandconditions {
        color:#fff;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Josefin Sans', sans-serif;

}
/*---Sign-In / Register---*/
#contentsignup {
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        size: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        padding-right: 500px;
        padding-left: 80px;
        min-width: 700px;
        font-size: 1.5em;
        font-family: 'Josefin Sans', sans-serif;

}
#signin {
        margin-top: -140px;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        size: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        padding-right: 500px;
        padding-left: 80px;
        min-width: 700px;
        font-size: 1.5em;
        font-family: 'Josefin Sans', sans-serif;

}

/*---Content---*/

#posthead {
    width: 90%;
    margin-top:0px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.2em;
    display:block;
    font-family: 'Josefin Sans', sans-serif;

}
#postauth {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -65px;
    color: #fff;
    font-size: 2.5em;
    display:block;
    font-family: 'Josefin Sans', sans-serif;

}
@media only screen and (max-width: 800px) {
#postauth {
    margin-top: -40px;
    color: #fff;
    font-size: 1.5em;
    display:block
    }
}
#postdate {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    color: #fff;
    font-size: 1.5em;
    display:block
    font-family: 'Josefin Sans', sans-serif;
}
#postresult {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width:80%;
    color: #fff;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    size: relative;
    font-size: 1.2em;
    font-family: 'Josefin Sans', sans-serif;

}
.reply textarea{
        font-size: 1.2em;
        display: block;
        width: 100%;
        height: 120px;
        margin-left: auto;
        margin-right: 0;
        margin-top: 0px;
        color: #FFF;
        border-style: none;
        border-color: Transparent;
        overflow: auto;
        resize: none;
        background:rgba(255,255,255,.05);
        font-family: 'Josefin Sans', sans-serif;
}
#contentreply {
    font-size: 1.2em;
        width: 700px;
        size: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        max-width:800px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    font-family: 'Josefin Sans', sans-serif;
}

/*---FOOTER---*/

#footer_1 {
	background: rgba(255,255,255,.0);
	display: block;
        text-decoration: none;
	font: 14px Helvetica, Arial, Sans-Serif;
	text-align: center;
	color: #fff;
        box-shadow: inset 0px 3px 5px #fff;
        margin-top: 100px;
        height: 40px;
        font-family: 'Josefin Sans', sans-serif;
}
div.ftext {
        text-align: center;
        padding-top: 12px;
}
.footer, .push {
        padding-bottom: 500px;
}

/*---POPULAR---*/
.popular {
        text-decoration: none;
        font-size: 1.3em;
        padding-left: 10px;
        padding-right: 10px;
        transition: background .35s ease-in-out;
        -moz-transition: background .35s ease-in-out;
        -webkit-transition: background .35s ease-in-out;
        font-family: 'Josefin Sans', sans-serif;

}

.popular:hover {
       text-decoration: underline;
}

/*---Hidden Divs---*/
.hidden {
       display: none;
}