/*---- CROSS BROWSER DROPDOWN MENU ----*/

ul#nav {
    margin-top: 0px;
        font-family: Arial;
        font-size: 1.2em;
        margin-left: 0px;
        margin-bottom: 20px;
        }
.drop{
        height: 45px;
        width: 100%;
        min-width: 1150px;
        font-family: Arial;
        font-size:1.2em;
        background-image: -ms-linear-gradient(bottom, #000000 0%, #3B3B3B 50%, #000000 100%);
        background-image: -moz-linear-gradient(bottom, #000000 0%, #3B3B3B 50%, #000000 100%);
        background-image: -o-linear-gradient(bottom, #000000 0%, #3B3B3B 50%, #000000 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(0.5, #3B3B3B), color-stop(1, #000000));
        background-image: -webkit-linear-gradient(bottom, #000000 0%, #3B3B3B 50%, #000000 100%);
        background-image: linear-gradient(to top, #000000 0%, #3B3B3B 50%, #000000 100%);
}
ul.drop a {
        display:block;
        color: #fff;
        text-decoration: none;
}
ul.drop, ul.drop li, ul.drop ul {
        list-style: none;
        margin: 0;
        padding: 0;
        color: #fff;
        transition: background .35s ease-in-out;
        -moz-transition: background .35s ease-in-out;
        -webkit-transition: background .35s ease-in-out;
}
ul.drop {
        position: relative;
        float: left;
}
ul.drop li {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 13px;
        height:30px;
}
ul.drop li:hover {
        position: relative;
        cursor: pointer;
        background-image: -ms-radial-gradient(center bottom, circle farthest-corner, #424242 0%, #000000 100%, #000000 100%);
        background-image: -moz-radial-gradient(center bottom, circle farthest-corner, #424242 0%, #000000 100%, #000000 100%);
        background-image: -o-radial-gradient(center bottom, circle farthest-corner, #424242 0%, #000000 100%, #000000 100%);
        background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 560, color-stop(0, #424242), color-stop(1, #000000), color-stop(1, #000000));
        background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, #424242 0%, #000000 100%, #000000 100%);
        background-image: radial-gradient(circle farthest-corner at center bottom, #424242 0%, #000000 100%, #000000 100%);
        margin-top: -0px;
        height: 30px;
}
.menudrops{
        border-left: 1px solid #000;
}
ul.drop ul {
        visibility: hidden;
        position: absolute;
        width: 200px;
        color: #000;
        background: #333;
        font-size: 1.2em;
        margin-top: 3px;
        margin-left: -10px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
}
ul.drop ul li {
        float: left;
        display: block;
        height: 40px;
        width: 90%;
        padding-top: 0px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
}
ul.drop ul li:hover {
        background: #DB6565;
        height: 40px;
        border-radius: 0px;
        box-shadow: none;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
}
ul.drop ul ul {
        margin-top: -30px;
        margin-left: 0px;
        left: 100%;
}
ul.drop li:hover > ul {
        visibility: visible;
}
#mnuSrch {
        width:200px;
        height: 24px;
        margin-left: 5px;
        border-left: 2px solid #222;
        border-top: 2px solid #222;
        border-bottom: 2px solid #222;
        border-right: 1px solid rgba(0,0,0,205);
        padding-left: 10px;
        font-size: .8em;
        background: #6E6E6E;
        color: #fff;
        float: left;
}
#mnuSrch::-webkit-input-placeholder {
  color: #fff;
  font-size: .7em;
  padding-top: 3px;
}
#mnuSrch::-moz-placeholder {
  color: #fff;
  font-size: 10px;
  padding-top: 3px;
}
#mnuSrch:-ms-input-placeholder {
  color: #fff;
  font-size: .7em;
  padding-top: 3px;
}
form input[type=image]{
	height:25px;
        display: inline-block;
        float: left:
}
#SrchBox{
        margin-top: -7px;
	display: inline-block;
}
#Srch {
        width:170px;
        height: 25px;
        margin-left: 5px;
        margin-right: -20px;
        border-left: 2px solid #222;
        border-top: 2px solid #222;
        border-bottom: 2px solid #222;
        border-right: 1px solid rgba(0,0,0,205);
        padding-left: 10px;
        padding-right: 50px;
        font-size: .8em;
        background: #fff;
        color: #000;
        border-radius: 20px;
        float: left;
}
#Srch::-webkit-input-placeholder {
  color: #888;
  font-size: .85em;
  padding-top: 2px;
}
#Srch::-moz-placeholder {
  color: #000;
  font-size: 9px;
  padding-top: 3px;
}
#Srch:-ms-input-placeholder {
  color: #888;
  font-size: .8em;
  padding-top: 3px;
}
#newpost {
        background: #DB6565;
        transition: background .35s ease-in-out;
        -moz-transition: background .35s ease-in-out;
        -webkit-transition: background .35s ease-in-out;
}
#newpost:hover {
        background: #4152B0;
}